.nav{
    height: 7%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    margin-top: -20px;
}
.but{
    padding: 10px;
    padding-top: 15px;
    background-color: white;
    border: none;
}